*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.home_page{
    /* background-color: #0C0C0C; */
    background-color: #151B1B;
    height: 580px;
    /* position: absolute;
    top: 0;
    right: 0;
    left: 0; */
    box-sizing: border-box;
    /* z-index: 2; */
}
.navbar{
    display: flex;
    justify-content: space-between;
    font-size: 23px;
    color: #9DA2AB;
    align-items: center;
}
.navbar .navlists ul li{
    list-style: none;
    display: inline;
    font-size: 20px;
    font-weight: normal;
    color: #9DA2AB;
    padding: 5px 15px 5px 15px;
}
.navbar .navlists ul li a{
    color: #9DA2AB;
    text-decoration: none;
    font-size: 19px;
    font-weight: normal;
}
.navbar .signup{
    border:1px solid #9DA2AB;
    border-radius: 20px;
}
.welcome_texts{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.welcome_texts .texts, .welcome_texts .images{
    width: 50%;
}
.welcome_texts .texts{
    font-size: 30px;
    color: #9DA2AB;
}
.project_containers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;
}
.project_containers .images{
    width: 300px;
    height: 300px;
}
.project_containers .images img{
    border-radius: 10px;
}
.projects_samples{
    background-color: #FFFFFF;
    /* height: 580px; */
    margin-top: -100px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(21,27,27,0.5);
}
.postinfo{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.postinfo .name{
    font-weight: bold;
}
.project_containers .images:hover{
    background-color: #f0f0f0;
    border-radius: 10px;
}
.footer{
    margin-top: 100px;
    color: #9DA2AB;
    display: flex;
    flex-wrap: wrap;
    background-color: #151B1B;
    align-items: center;
}
.footer .social_links{
    width: 34%;
    padding: 10px;
}
.footer ul li{
    list-style: none;
}
.footer ul li a{
    color: #9DA2AB;
    font-size: 19px;
}
#useremail{
    background-color: #d4d6da;
    color: #151B1B;
    width: 80%;
}
#submits{
    background-color: #9DA2AB;
    color: #151B1B;
    font-size: 17px;
    font-weight: bold;
}
.form{
    width: 34%;
    padding: 10px;
}
.about_text{
    padding: 10px;
    width: 30%;
}