{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block search %}
<div class="container" id="searchcontainer">
    <div class="search_form">
        <div class="form-group">
            <form method="POST" action="{% url 'search' %}">{% csrf_token %}
            <input type="search" name="searcjproject" id="searcjproject" class="form-control" required placeholder="Enter search projectname">
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block body %}
<div class="container" id="mainviews">
    <div class="flex_projects">
        {% if projects != 'None'%}
        {% for project in projects %}
            <div class="project">
                <div class="image">
                    <img src="{{ project.project_image.url }}" height="100%" width="100%" alt="">
                </div>
                <div class="contexts">
                    <div class="row">
                        <div class="col">Title: <span class="bold">{{ project.proj_title }}</span> </div>
                        <div class="col">Link: <a target="blank" href="{{ project.project_link }}">Live</a> </div>
                    </div>
                    <div class="text">{{ project.project_description }}</div>
                </div>
                <div class="ratedpos">
                    <button class="btn retbutton" id="{{ project.id }}" onclick="showratings(this.id)">rate this post</button>
                </div>
            </div>
            
        {% endfor %}
        {% else %}
        <div class="text-danger text-center" style="width: 100%;">No post for this profile.</div>
        {% endif %}
    </div>
</div>
{% load static %}
<script src="{% static 'js/models.js'%}"></script>
<div class="ratings_form" id="retinmgsform">
    <div class="close"><i id="closebtn" onclick="hideratings()" class="fa-solid fa-xmark"></i></div>
    <form action="{% url 'projratings' %}" method="post">
        {% csrf_token %}
        <p>On a scale of 1 - 10 rate this project based on content, usability and design</p>
        <div class="form-group">
            <input type="number" name="retedpost" disabled= "disabled" id="retedpost" class="form-control">
        </div>
        <div class="form-group">
            <input type="number" max="10" min="0" required name="designs" id="designs" class="form-control" placeholder="rate based on design">
        </div>
        <div class="form-group">
            <input type="number" max="10" min="0" required name="usability" id="usability" class="form-control" placeholder="rate based on usability">
        </div>
        <div class="form-group">
            <input type="number" max="10" min="0" required name="content" id="content" class="form-control" placeholder="rate based on content">
        </div>
        <div class="form-group">
            <input type="submit" value="Rate" class="btn" id="retbutton">
        </div>
    </form>
</div>
{% endblock %}
{% block footer %}{% endblock %}