{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block profile %}
<div class="container">
    <div class="userprofile">
        <div class="textbio">
            <div class="name">Name: {{ users.username }}</div>
            <div class="email">Email: {{ users.useremail }}</div>
            <div class="phone">Phone: {{ users.phone }}</div>
           {% if bios != 'nobio' %}
             <div class="bio">Bio: <span style="font-size: 16px;">{{ bio.bio }}</span></div>
           {% else %}
           <div class="bio">Bio: <span style="font-size: 16px;">No bio</span></div>
           {% endif %}
        </div>
        <div class="images">
            <img src="{{ users.userimage.url }}" height="200px" width="200px" alt="">
        </div>
    </div>
</div>
{% endblock %}
{% block bio %}
   <div class="edditbios">
       <div class="buttons">
           <button class="btn" id="addbios" onclick="showAddBio()" >Add Bio</button>
       </div>
   </div>
{% endblock %}
{% block body %}
<div class="container">
    <div class="addprojects_form">
        <h4 class="text-center">Add Projects</h4>
        <div class="addprojectforms">
            <form action="{% url 'saveproject' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-heading"></i></span>
                    <input type="text" name="projecttitle" id="projecttitle" placeholder="Enter title" autocomplete="off" class="form-control" required>
                </div>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-link"></i></span>
                    <input type="url" class="form-control" name="livelinks" placeholder="Project Live-Link" aria-label="Username" aria-describedby="addon-wrapping" id="livelinks">
                  </div>
                <div class="form-group">
                    <input type="file" name="projectscreenshort" id="projectscreenshort" required class="form-control">
                </div>
                <div class="form-group">
                    <textarea name="descriptions" id="descriptions" cols="30" style="resize: none; height: 100px;" rows="10" class="form-control" placeholder="Enter description" required></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" id="addbios" class="btn" value="Upload Project">
                </div>
            </form>
        </div>
    </div>
    <div class="addedprojects">
        <h4 class="text-center">My Projects</h4>
        <div class="flex_projects">
            {% if projects != 'None'%}
            {% for project in projects %}
                <div class="project">
                    <div class="image">
                        <img src="{{ project.project_image.url }}" height="100%" width="100%" alt="">
                    </div>
                    <div class="contexts">
                        <div class="row">
                            <div class="col">Title: <span class="bold">{{ project.proj_title }}</span> </div>
                            <div class="col">Link: <a target="blank" href="{{ project.project_link }}">Live</a> </div>
                        </div>
                        <div class="text">{{ project.project_description }}</div>
                    </div>
                </div>
            {% endfor %}
            {% else %}
            <div class="text-danger text-center" style="width: 100%;">No post for this profile.</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<div class="apiendpoint">
    <div class="container">
        <p>API endpoints</p>
        <ul>
            <li><a target ='_blank' href="{% url 'userregister' %}">Profile</a></li>
            <li><a target ='_blank' href="{% url 'api_bios' %}">Bio</a></li>
            <li><a target ='_blank' href="{% url 'api_projects' %}">Posts</a></li>
            <li><a target ='_blank' href="{% url 'api_ratings' %}">Ratings</a></li>
        </ul>
        <style>
            .apiendpoint{
                background-color: #151B1B;
                color: #9DA2AB;
                margin-bottom: 0;
                padding: 10px;
            }
            a{
                text-decoration: none;
                color: #9DA2AB;
            }
            .apiendpoint ul li{
                list-style: none;
                display: inline;
                padding: 15px;
                margin-right: 10px;
            }
        </style>
    </div>
</div>
{% endblock %}body