{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block search %}
{% endblock %}
{% block body %}
<div class="container" id="mainviews">
    <div class="flex_projects">
        {% if projects != 'None'%}
        {% for project in projects %}
            <div class="project">
                <div class="image">
                    <img src="{{ project.project_image.url }}" height="100%" width="100%" alt="">
                </div>
                <div class="contexts">
                    <div class="row">
                        <div class="col">Title: <span class="bold">{{ project.proj_title }}</span> </div>
                        <div class="col">Link: <a target="blank" href="{{ project.project_link }}">Live</a> </div>
                    </div>
                    <div class="text">{{ project.project_description }}</div>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <div class="text-danger text-center" style="width: 100%;">No post for this profile.</div>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}